Title: <%= @post.title %></br>
Content: <%= @post.content %></br>
<% @post.categories.each do |category| %>
Category: <%= category.name %></br>
<% end %>
Users:
<% @post.users.uniq.each do |user| %>
   <li> <%= link_to user.username, user_path(user) %></li>
<% end %></br>
Comment:
<% @post.comments.each do |comment| %>
    <%= comment.user.username %> says: <%= comment.content %>
<% end %></br>

Create New Comment:
<%= form_for @post.comments.build do |f| %>
    
    <p>
      <%= f.collection_select :user_id, User.all, :id, :username, prompt: true %>
      <%= f.hidden_field :post_id %>
    </p>
    <%= f.fields_for :user, User.new do |user_fields| %>
        <%= user_fields.label :username %>
        <%= user_fields.text_field :username %>
      <% end %>
    <p>
      <%= f.label :content, "New Comment" %><br>
      <%= f.text_area :content %>
    </p>
    <br/>
    <%= f.submit %>
  <% end %>





